@import "../shared/helper";

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #00020b;

  > header {
    height: px(99);
    width: px(2420);
    margin: 0 auto;
    background-size: cover;
  }

  > footer {
    height: px(68);
    line-height: px(68);
    text-align: center;
    font-size: px(18);
    color: #243991;
    background: #0c0d2d;
    border-top: 1px solid #0d2956;
  }

  > main {
    width: px(2420);
    margin: 0 auto;
    flex: 1;
    display: grid;
    grid-template:
      "box1 box2 box4 box5" 755fr
      "box3 box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;
    grid-column-gap: px(28);
    grid-row-gap: px(28);
    padding: px(30) 0;

    > section {
      text-align: center;
    }

    .border {
      border: 1px solid #0764bc;
      border-radius: 4px;
      position: relative;
      box-shadow: 0 0 2px 0 #0f3361, 0 0 2px 0 #0f3361;
      background: #0c1139;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-shadow: 21px 0 0 -20px #0f3361,
        -21px 0 0 -20px #0f3361,
        0 21px 0 -20px #0f3361,
        0 -21px 0 -20px #0f3361,
        11px 0 0 -10px #0d4483,
        -11px 0 0 -10px #0d4483,
        0 11px 0 -10px #0d4483,
        0 -11px 0 -10px #0d4483;
      }
    }

    > .section1 {
      grid-area: box1;
      @extend %layout
    }

    > .section2 {
      grid-area: box2;
      @extend %layout

    }

    > .section3 {
      grid-area: box3;
      @extend %layout

    }

    > .section4 {
      grid-area: box4;
      @extend %layout

    }

    > .section5 {
      grid-area: box5;
      @extend %layout

    }

    .管辖统计, .破获排名, .趋势分析, .时段分析, .战果数对比, .籍贯分布地, .年龄段分布 {
      height: px(315);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      > h2 {
        margin-top: -1px;
        font-size: px(22);
        border: 1px solid #0a5299;
        border-radius: 0 0 8px 8px;
        padding: px(10) px(28);
        font-weight: bold;
        text-shadow: 0 0 px(10) #fff;
      }

      .chart {
        flex: 1;
        width: 100%;
      }
    }

    .破获排名 {
      height: px(423);
    }

    .趋势分析, {
      height: px(363);
    }

    .时段分析 {
      height: px(363);
    }

    .战果数对比 {
      > table {
        margin-top: px(38);
        border-collapse: collapse;

        th, td {
          border: 1px solid #1a3671;
        }

        thead {
          th {
            height: px(70);
            box-shadow: inset 0 0 px(60) 0 #1f3d85;
          }
        }

        tbody {
          td {
            height: px(50);
            width: px(84);
            background: #1c2456;
          }
        }
      }
    }

    .籍贯分布地 {
      height: px(753);
      position: relative;

      > .chart {
        flex: 1;
      }

      > span {
        position: absolute;
        bottom: px(20);
        right: px(20);
        color: #8d8b8b;
      }
    }

    .年龄段分布 {
      height: px(363);

      display: flex;

      > .chartWrapper {
        width: 90%;
        flex: 1;
        display: flex;
        flex-direction: row;
      }
    }
  }
}



