@import "../shared/helper";

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #00020b;

  > header {
    height: px(99);
    background-size: cover;
  }

  > main {
    flex: 1;
    display: grid;
    grid-template:
      "box1 box2 box4 box5" 755fr
      "box3 box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;
    grid-column-gap: px(28);
    grid-row-gap: px(28);
    padding-top: px(30);

    > section {
      border: 1px solid #0764bc;
      border-radius: 4px;
      position: relative;
      box-shadow: 0 0 2px 0 #0f3361, 0 0 2px 0 #0f3361;
      background: #0c1139;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-shadow: 21px 0 0 -20px #0f3361,
        -21px 0 0 -20px #0f3361,
        0 21px 0 -20px #0f3361,
        0 -21px 0 -20px #0f3361,
        11px 0 0 -10px #0d4483,
        -11px 0 0 -10px #0d4483,
        0 11px 0 -10px #0d4483,
        0 -11px 0 -10px #0d4483;
      }
    }

    > .section1 {
      grid-area: box1;
    }

    > .section2 {
      grid-area: box2;
    }

    > .section3 {
      grid-area: box3;
    }

    > .section4 {
      grid-area: box4;
    }

    > .section5 {
      grid-area: box5;
    }
  }
}

